<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta name="author" content="Yu Wang" />
    <meta name="robots" content="index,follow" />
    <meta name="rating" content="General" />
    <base target="_self" />
    <meta name="description" content="" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <link rel="stylesheet" href="./styles/style.css" /> -->
  </head>
  <body>
    <h1>This is POST method</h1>
    <form action="" method="POST">
      姓名: <input name="a" /> <br />
      年齡: <input name="age" type="number" />
      <input type="submit" />
    </form>

    <br />
    <h1>This is GET method</h1>
    <form action="" method="GET">
      姓名: <input name="a" /> <br />
      年齡: <input name="age" type="number" />
      <input type="submit" />
    </form>
  </body>
  <!-- <script src="./app.js"></script> -->
</html>
